/* Container */ 
#page-teacher-list {
  height: 100vh;
  width: 100vw;
}

/* Pesquisa de Proffys */

#search-teachers {
  margin-top: 3.2rem;
}

#search-teachers label {
  color: var(--color-text-in-primary);
}

#search-teachers button {
  height: 5.6rem;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  border: 0;
  border-radius: 0.8rem;
  background-color: var(--color-secundary);

  color: var(--color-button-text);
  font: 700 1.6rem Archivo;
  
  margin-top: 3.2rem;

  cursor: pointer;
  transition: background-color 0.2s;
}

#search-teachers button:hover {
  background-color: var(--color-secundary-dark);
}

#search-teachers .select-block + .input-block {
  margin-top: 1.6rem;
}

/* Lista de Proffys */
#page-teacher-list main {
  width: 90%;

  margin: 3.2rem auto;
}

/* Media Queries */
@media (min-width: 700px) {
  /* Container */
  #page-teacher-list {
    max-width: 100%;
  }

  /* Pesquisa de Proffys */
  #search-teachers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 16px;

    position: absolute;
    bottom: -28px;
  }

  #search-teachers .input-block + .input-block,
  #search-teachers .select-block + .select-block,
  #search-teachers .select-block + .input-block {
    margin-top: 0;
  }

  /* Lista de Proffys */
  #page-teacher-list main{
    max-width: 740px;

    padding: 3.2rem 0;
    margin: 0 auto;
  }
}